.box {
    position: relative;
 }
 
 .direction {
    position: absolute;
    top: 20px;
    right:43%;
    
 }
.box1{
    position: relative;
    margin-left: 20%;
}
 .direction1{
    position:absolute;
    top: 70%;
    right:43%;
 }
 .direction2{
    position: absolute;
    top: 30%;
    right:43%;
 }
 .same{
    color:white;
    text-decoration: none;
 }
 .same:hover{
    color: rgb(24, 126, 126);
 }
 .s1{
    margin-left:50%;
 }
 .box10{
    position: relative;
 }
 .direction10{
    position: absolute;
    top: 20px;
   
 }
 .c1{

   width:90%;
   margin-left: 45%;
 }
 .c2{
   width:70%;
   margin-left: 70%;
 }
 #i{
   width:100%;
   height:106%;
   background-color: rgba(231, 65, 204, 0.87);
   position: absolute;
   color: #ffffff;
   font-family: 'Quicksand', sans-serif;
   top:0%;
 opacity:0;
 transition: opacity 0.25s;
 padding-left: 10%;
 padding-top:35%;
 }
 #i--blur {
   backdrop-filter: blur(2px);
}
#i:hover{
   opacity: 0.7;
 }

 #i:hover > * {
   transform: translateY(0);
 }
 #i1{
   width:102%;
   height:185%;
   background-color: rgba(231, 65, 204, 0.87);
   position: absolute;
   color: #ffffff;
   font-family: 'Quicksand', sans-serif;
   top:0%;
 opacity:0;
 transition: opacity 0.25s;
 padding-left: 10%;
 padding-top:35%;
 }
 #i1--blur {
   backdrop-filter: blur(2px);
}
#i1:hover{
   opacity: 0.7;
 }

 #i1:hover > * {
   transform: translateY(0);
 }
 #i2{
   width:80%;
   height:199%;
   background-color: rgba(231, 65, 204, 0.87);
   position: absolute;
   color: #ffffff;
   font-family: 'Quicksand', sans-serif;
   top:0%;
 opacity:0;
 transition: opacity 0.25s;
 padding-left: 10%;
 padding-top:35%;
 }
 #i2--blur {
   backdrop-filter: blur(2px);
}
#i2:hover{
   opacity: 0.7;
 }

 #i2:hover > * {
   transform: translateY(0);
 }
 #i3{
   width:119%;
   height:101%;
   left:-19%;
   background-color: rgba(231, 65, 204, 0.87);
   position: absolute;
   color: #ffffff;
   font-family: 'Quicksand', sans-serif;
   top:0%;
 opacity:0;
 transition: opacity 0.25s;
 padding-left: 10%;
 padding-top:35%;
 }
 #i3--blur {
   backdrop-filter: blur(2px);
}
#i3:hover{
   opacity: 0.7;
 }

 #i3:hover > * {
   transform: translateY(0);
 }
 #i4{
   width:119%;
   height:98%;
   left:-19%;
   background-color: rgba(231, 65, 204, 0.87);
   position: absolute;
   color: #ffffff;
   font-family: 'Quicksand', sans-serif;
   top:-17px;
 opacity:0;
 transition: opacity 0.25s;
 padding-left: 10%;
 padding-top:35%;
 }
 #i4--blur {
   backdrop-filter: blur(2px);
}
#i4:hover{
   opacity: 0.7;
 }

 #i4:hover > * {
   transform: translateY(0);
 }
 #i5{
   width:102%;
   height:185%;
   left:1%;

   background-color: rgba(231, 65, 204, 0.87);
   position: absolute;
   color: #ffffff;
   font-family: 'Quicksand', sans-serif;
   top:0px;
 opacity:0;
 transition: opacity 0.25s;
 padding-left: 10%;
 padding-top:35%;
 }
 #i5--blur {
   backdrop-filter: blur(2px);
}
#i5:hover{
   opacity: 0.7;
 }

 #i5:hover > * {
   transform: translateY(0);
 }
 #i6{
   width:102%;
   height:117%;
   left:1%;
margin-top: 60%;
   background-color: rgba(231, 65, 204, 0.87);
   position: absolute;
   color: #ffffff;
   font-family: 'Quicksand', sans-serif;
   top:0px;
 opacity:0;
 transition: opacity 0.25s;
 padding-left: 10%;
 padding-top:35%;
 }
 #i6--blur {
   backdrop-filter: blur(2px);
}
#i6:hover{
   opacity: 0.7;
 }

 #i6:hover > * {
   transform: translateY(0);
 }