#img1{
    width:80%;
    height:60%;
    margin-left: 30px;
    margin-top: 30px;
}
#h{
    margin-left: 30px;
    margin-top: 10px;
    font-size: 39px;
}
#a1:link{
    color:black;
    text-decoration: none;
}
#a1:visited{
    color:black;
    text-decoration: none;
}
#a1:hover{
color:rgb(10, 10, 105);
text-decoration: underline;
}
#p1{
    margin-left: 30px;
    margin-top: 3px;
    font-size: 20px;
}
.vl{
    margin-top:30px;
    border-right: 1px solid rgb(188, 192, 188);
    height: 650px;
    position: relative;
    margin-left: -140px;
}

#con{
    display: flex;
}
#img2{
    margin-left: 10px;
    margin-top: 30px;
    width: 80%;
    height:30%;
}
.same{
    margin-left:10px;
    margin-top:30px;
    padding-right:10px;
    padding-left:10px;
}
.solid:visited{
    color:black;
    text-decoration: none;
}
.solid:link{
    color:black;
    text-decoration: none;
}
.solid:hover{
    text-decoration: underline;
}
.solid{
    border: 1px solid black;
    margin-left: 20px;
  border-radius: 6px;
}
.s{
    width:40%;
    height:30%;
    margin-left:30px;
}
.l:link{
    color:white;
    text-decoration: none;
}
.l:visited{
    color:white;
    text-decoration: none;
}
.l:hover{
text-decoration: underline;
}